<footer class="w3-row-padding w3-padding-32 w3-serif">
  <div class="w3-third">
  <h1>About Us</h1>
    <p>Double D Pet Shop is the leading chain of pet shops in Spain.
    At Double D Pet Shop we are specialists in all types of animals and we have
    a team of over 1,000 people dedicated to helping improve the lives of all pets,
    so an animal lover is not just a customer, is a friend.
    To help you take care of and enjoy your best friend, we have the best offers in the sector and the most specialized staff.</p>
  </div>

	<div class="w3-third w3-serif">
    <h1>Conctact Us</h1>
    <ul class="w3-ul w3-hoverable">
      <li class="w3-padding-16">
        <span>Phone Number: 928 XX XX XX</span><br>
      </li>
      <li class="w3-padding-16">
        <span>Email: DoubleD@admin.com</span><br>
      </li>
      <li class="w3-padding-16">
        <span>Address: C/ calle</span><br>
      </li> 
    </ul>
  </div>

  <div class="w3-third w3-serif">
    <h1>Social Medias</h1>
    <ul class="w3-ul w3-hoverable">
      <li class="w3-padding-16">
        <img src="/images/twitter.png" class="w3-left w3-margin-right">
        <span class="w3-large">Twitter</span><br>
        <span>@DoubleDPS</span>
      </li>
      <li class="w3-padding-16">
        <img src="/images/insta.png" class="w3-left w3-margin-right">
        <span class="w3-large">Instagram</span><br>
        <span>@DoubleDPS</span>
      </li> 
      <li class="w3-padding-16">
        <img src="/images/facebook.png" class="w3-left w3-margin-right">
        <span class="w3-large">Facebook</span><br>
        <span>DoubleDPS</span>
      </li> 
    </ul>
  </div>
</footer>